header{
    display: flex;
    justify-content: center;
}
.img{
    width: 200px;

}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

ul li{
    list-style: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: #445940;
    font-family: 'Magra', sans-serif;
    font-size: 20px;
}
.formulario{
    text-align: center;
}
a:hover{
    color: white;
    background-color: #445940;
    border-radius: 5px;
}
footer p.abajo{
    text-align: center;
}
section .formulario{
    margin: auto;
    text-align: center;
}
#uno{
    width: 100%;
    height: 400px;
    background-color: aliceblue;
}
#dos{
    width: 80%;
    height: 300px;
    background-color: white;
    margin: auto;
    font-family: 'Magra', sans-serif;
    text-align: center;
    padding: 20px;
}

#tres{
    width: 100%;
    height: 500px;
    background-color: #445940;
    margin: auto;
    font-family: 'Magra', sans-serif;
    text-align: center;
    padding: 20px;
}
.p2{
    font-weight: 300;
}
.pueblo1{
    width: 22.5%;
    height: auto;
    float: left;
    margin: auto;
    padding: 10px; 
}
.pueblo2{
    width: 22.5%;
    height: auto;
    float: left;
    margin: auto; 
    padding: 10px;
}
.pueblo3{
    width: 22.5%;
    height: auto;
    float: left;
    margin: auto; 
    padding: 10px; 
}
.pueblo4{
    width: 22.5%;
    height: auto;
    float: left;
    margin: auto; 
    padding: 10px; 
}
.pie{
    width: 100%;
    height: 200px;
    background-color: gainsboro;
    margin: auto;
    font-family: 'Magra', sans-serif;
    text-align: center;
    float: left;
    padding: 20px;
    
}