header{
    display: flex;
    justify-content: center;
}
.img{
    width: 200px;

}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

ul li{
    list-style: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: #445940;
    font-family: 'Magra', sans-serif;
    font-size: 20px;
}
.formulario{
    text-align: center;
}
a:hover{
    color: #445940;
    background-color: black;
    border-radius: 5px;
}
footer p.abajo{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;

}
section .formulario{
    margin: auto;
    text-align: center;
}
#uno{
    width: 100%;
    height: 200px;
    background-color: aliceblue;
}
#dos{
    width: 100%;
    height: 200px;
    background-color: black;
    margin: auto;
}
#tres{
    width: 100%;
    height: 200px;
    background-color: #445940;
    margin: auto;
}
.Nosotros img{   
        
    margin-right: 30px; /* Margen a la derecha de la imagen */
    margin-left: 30px; /* Margen a la izquierda de la imagen */
}
.Nosotros h3{
    text-align: center;
}

