header{
    display: flex;
    justify-content: center;
}
.img{
    width: 200px;

}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

ul li{
    list-style: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: #445940;
    font-family: 'Magra', sans-serif;
}
a:hover{
    color: #445940;
    background-color: black;
    border-radius: 5px;
}
footer p.abajo{
    text-align: center;
}
section .formulario{
    margin: auto;
    text-align: center;
}
#uno{
    width: 100%;
    height: 200px;
    background-color: aliceblue;
}
#dos{
    width: 100%;
    height: 200px;
    background-color: black;
    margin: auto;
}
#tres{
    width: 100%;
    height: 200px;
    background-color: #445940;
    margin: auto;
}